* {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
}
.video-js-responsive-container .video-js {
  height: 50%;
  width: 50%;
  position: absolute;
  top: 25%;
  left: 25%;
}

body {
  /* background-color: aqua; */
  background-image: url("https://w0.peakpx.com/wallpaper/995/49/HD-wallpaper-blur-background-blur-simple-background-background.jpg");
  background-repeat: no-repeat;
  background-size:cover;
}
